.review {
  font-family: "Roboto", "sans-serif";
}

.review__nav {
  color: black;
  width: 50px;
}

.review__nav:hover {
  opacity: 0.6;
}

.review__about {
  font-size: 14px;
}

.review__photo {
  height: 60px;
  object-fit: cover;
}

.review__link {
  color: black;
  text-decoration: underline;
}

.review__link {
  font-weight: 500;
}

.review__link:hover {
  font-weight: 700;
}

.review .badge {
  border-radius: 100%;
  background-color: rgba(0, 209, 205, 1);
}

.review__description {
  font-size: 18px;
  white-space: pre-line;
}

.review__category {
  cursor: pointer;
}

.review__category:hover {
  opacity: 0.6;
}

.review__button-like {
  border: 1px solid white;
  font-size: 14px;
}

.review__button-like:hover {
  opacity: 0.6;
}

.comment__add-input:focus {
  outline: rgba(0, 209, 205, 1);
}

.comment__add-button:hover {
  opacity: 0.6;
}

.rating-wrapper {
  display: inline-flex;
  direction: rtl !important;
}

label {
  color: #e1e6f6;
  cursor: pointer;
  display: inline-flex;
  font-size: 3rem;
  padding: 0.6rem 0.3rem;
  transition: color 0.5s;
}

svg {
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow (4px 1px 6px rgba(198, 206, 237, 1));
  filter: drop-shadow(5px 1px 3px rgba(198, 206, 237, 1));
}

input {
  height: 100%;
  width: 100%;
}

input {
  display: none;
}

label:hover,
label:hover ~ label,
input:checked ~ label {
  color: #f7d31bf7;
}

label:hover,
label:hover ~ label,
input:checked ~ label {
  color: #f7d31bf7;
}

@media screen and (max-width: 530px) {
  .review__container {
    flex-direction: column;
  }

  .review__likes {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .comment__add-button {
    font-size: 12px;
    max-width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
