.profile {
  font-family: "Roboto", "sans-serif";
}

.profile-head {
  transform: translateY(5rem);
}

.profile-name {
  margin-bottom: 60px;
}

.profile-photo {
  object-fit: cover;
  height: 130px;
}

@media screen and (max-width: 480px) {
  .profile {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .profile-container {
    width: 100%;
  }
}
