.header {
  display: block;
  font-family: "Roboto", sans-serif;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__nav-link:hover {
  opacity: 0.6;
}

.header__search {
  border-color: white;
}

.header__search::placeholder {
  color: grey;
}

.header__search:focus,
.header__search:active {
  border-color: white;
  box-shadow: none;
}

.header__search-logo {
  background-color: white;
  border-color: white;
}

.header__button:hover {
  background-color: transparent;
  color: white;
  opacity: 0.6;
}

.btn:first-child:active {
  background-color: transparent;
  border-color: white;
  color: white;
  opacity: 1;
}

.header__lang-button {
  border: none;
}

.header__lang-button:hover,
.header__lang-button:focus,
.header__lang-button:active {
  background-color: transparent;
  color: white;
  opacity: 0.6;
}

.header__lang-dropdown-menu {
  background-color: #212529;
  border: none;
}

.header__lang-dropdown-item:active {
  background-color: #212529;
}

@media screen and (max-width: 1200px) {
  .header {
    display: none;
  }
}
